<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/a7ec7986bf.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WildTrips | Connexion</title>
</head>

<body>
            <div class="container-fluid bg-login">
            
                <div class="row">

                    <div class="col-12 col-lg-12 d-flex justify-content-center log">
                            <div class="card" style="width: 30rem;">
                                <img src="images/logo_login.svg" class="card-img-top" width="auto" height="70">
                                <div class="card-body">
                                    <form method="POST" action="/users/sign-in">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="emailFromFront" placeholder="Adresse email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="passwordFromFront" placeholder="Mot de passe">
                                            
                                        </div>
                                        
                                        <button type="submit" class="btn btn-warning col-12">Se connecter</button>
                                    </form>
                                    <div class="dropdown-divider"></div>
                                    <a href="/inscription"> <button type="submit" class="btn btn-outline-dark col-12">S'inscrire</button></a>
                                    </div>
                            </div>
                    </div>
                </div>
            </div>
          

</body>

</html>